.success {
  color: #2dca73;
}
.error {
  color: #ff0b37;
}
.warning {
  color: #ffb800;
}

.info {
  color: #0f81e0;
}
.logo {
  font-size: 30px;
}
li {
  list-style-type: none;
  border: 2px #475569 dotted;
  width: 60vw;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li:hover {
  border: 2px goldenrod dashed;
}
.container {
  display: flex;
  align-items: center;
}
.con {
  margin-left: 10px;
}
